---
---
@import "http://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400italic,700&subset=latin,latin-ext";
$body-copy-font: 'Merriweather';
$link-color: #4545ce;

@import "qb/all";
@import "zoom";

html,
body{
	height: 100%;
}

%discrete-link{
	color:inherit;
	text-decoration:none;
}

.icon{
	width: 1em;
	height: 1em;
}

body{
	color: #21201D;
	overflow-y: scroll;
}

p{
	font-size:17px;
	line-height:1.55;
}
li{
	font-size:17px;
}
p a{
	color:$link-color;
	text-decoration:none;
	
	&:hover,
	&:focus{
		color:darken($link-color,10);
		background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.6) 50%);
		background-repeat: repeat-x;
		background-size: 2px 2px;
		background-position: 0px 18px;
		text-shadow: 2px 0 0 #fff,
					 -2px 0 0 #fff;
	}
}

.content{
	max-width:600px;
	margin:0 auto;
	padding: 40px 20px;
	
	@include width-below(800px){
		max-width:400px;
		padding: 40px 30px;
	}
}

.main-nav{
	position:fixed;
	margin-left: -140px;
	text-align:right;
	padding-right:20px;
	font-family:'Merriweather Sans';
	font-size:20px;
	
	@include width-below(600px){
		position:static;
		text-align:left;
		margin-left: 0;
		margin-bottom: 40px;
	}
}
.main-nav .menu{
	list-style:none;
}
.main-nav .separator{
	margin-bottom: 20px;
}
.main-nav a{
	display:block;
	@extend %discrete-link;
	margin-bottom:10px;
}
.main-nav .category{
	@include width-below(600px){
		display: inline-block;
		margin-right: 10px;
	}
}
.main-nav .category a{
	color: #888;
	font-size: 16px;
}

.search-wrapper{
	max-width: 100px;
	position: relative;
	
	@include width-below(600px){
		position: absolute;
		top: 40px;
		right: 20px;
		max-width: 50%;
		text-align: right;
	}
}
#search{
	position: absolute;
	right: 0;
	z-index: 105;
	display: inline-block;
	width: 0;
	max-width: 100%;
	padding: 4px 0;
	border: 1px solid #8a48d6;
	transition: all .3s ease-out;
	font-size: 14px;
	
	&:focus,
	&:valid{
		width: 100%;
		padding: 4px 6px;
		outline: 1px solid #8a48d6;
	}
	
	&:focus + .search-label,
	&:valid + .search-label{
		right: 110%;
		padding-right: 0;
	}
	
	@include width-below(600px){
		position: static;
		width: 60%;
		
		&:focus,
		&:valid{
			width: 60%;//dont move
		}
		
		&:focus + .search-label,
		&:valid + .search-label{
			right: auto;//dont move
		}
	}
}
.search-label{
	position: absolute;
	z-index: 100;
	right: 5px;
	padding-right: 10px;
	top: 4px;
	display: inline-block;
	max-width: 100%;
	transition: all .5s cubic-bezier(.09,.53,.19,1.46);
	
	@include width-below(600px){
		position: relative;
		right: auto;
	}
}

#search-results{
	li{
		list-style: none;
		margin-bottom:50px;
	}
}

.posts{
	list-style:none;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
}
.posts .post{
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 240px;
	height: 330px;
	margin: 0 10px 40px 10px;
    box-shadow: 2px 2px 0px 0px darken(#fff, 12),
                4px 4px 0px 0px darken(#fff, 12),
                6px 6px 0px 0px darken(#fff, 12);
	
	article{
		height: 100%;
	}
	
	.post-excerpt{
		display: none;
	}
}
.posts .post-link-global{
	display: block;
	height: 100%;
	@extend %discrete-link;
}
.posts .post.no-cover{
	border: 1px solid #333;
	overflow: hidden;
	background: #101010;
	color: #fff;
	
	.post-title{
		text-align: center;
		font-size: 20px;
		padding: 60px 15px 0 15px;
		line-height: 1.4;
	}
}

.post-header{
	margin-bottom:20px;
}
.post-title{
	font-size:28px; 
	text-transform: capitalize;
}
.post-title a{
	@extend %discrete-link;
}
.post-cover{
    @include width-below(600px){
		margin-left: -30px;
		max-width: none;
        width: calc(100% + 60px);
	}
}
.post-meta{
	display: inline-block;
	font-size:16px;
	color:lighten(#333,10);
	margin-right: 20px;
	font-family:'Merriweather Sans';
}
.post-meta .icon{
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
	color:lighten(#333,10);
	display: inline-block;
	margin-right: 4px;
}
.post-continue{
	display:block;
	margin-top:15px;
	font-size:18px;
	@extend %discrete-link;
	
	&:hover{
		color:$link-color;
		text-decoration:underline;
	}
}
.post-content{
	//drop caps
	h1 + p:first-letter{
		float:left;
		font-size:85px;
		margin-top: 7px;
		margin-right:8px;
		line-height: 0.85;
	}
	
	//usual margins
	p + p,
	ul + p,
	ol + p{
		margin-top: 1em;
	}
	
	//lists
	ul,
	ol{
		margin-top: .5em;
		margin-bottom: 1em;
		list-style-position:outside;
	}
	li{
		margin-bottom: 7px;
	}
	
	//titles
	h1{
		margin-top:35px;
		margin-bottom: 7px;
		font-size:24px;
		text-align: center;
		color: #5c5c5c;
		text-transform: capitalize;
	}
	h2{
		margin-top:28px;
		margin-bottom: 6px;
		font-size:20px;
		color: #5c5c5c;
		text-transform: capitalize;
	}
	
	//special stuff
	blockquote{
		margin: 20px 0;
		padding-left: 10px;
		margin-left: -10px;
		border-left: 2px solid #8a48d6;
		position: relative;
		color: #555;
		font-style: italic;

		&:before{
			content: '“';
			position: absolute;
			top: 0;
			right: 100%;
			font-size: 40px;
			line-height: 1;
			font-family: georgia;
			color: #8a48d6;
			z-index: 1;
		}
		&:after{
			content: "";
			background: #fff;
			width: 20px;
			height: 25px;
			position: absolute;
			top: 0;
			right: 100%;
		}

		p:first-child:first-letter{
			font-size: inherit;
			float: none;
			margin: 0;
		}

		ul,
		ol{
			margin-left: 20px;
		}
	}
	hr{
		margin: 20px 0 40px;
		border: none;
		text-align: center;

		&:before{
			content: "***";
		}
	}
	figure{
		margin: 15px 0;

		&.illustration{
			@extend .clearfix;
		}

		@include width-above(800px){
			&.illustration{
				img{
					width: 70%;
				}
				figcaption{
					float: right;
					width: 30%;
					text-align: left;
					padding-left: 10px;
				}
			}
		}
	}
	figure figcaption{
		text-align: center;
		color: #555;
		font-style: italic;
		font-size: 18px;
	}
}

.gallery{
	$height: 200px;
	
	height: $height;
	margin: 20px 0;
	
	ol{
		position: absolute;
		left: 0;
		max-height: $height;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
	}
	
	li{
		display: inline-block;
	}
	
	img{
		max-height: $height;
	}
}
