<li class="post {% if post.cover == null %}no-cover{% endif %}">
	<article>
		<a href="{{ site.baseurl }}{{ post.url }}" class="post-link-global">
			<header class="post-header">
				{% if post.cover == null %}
				<h1 class="post-title">
					{{ post.title }}
				</h1>
				{% else %}
				<img src="{{ site.img }}covers/{{ post.cover }}" alt="{{ post.title }}" class="post-cover" />
				{% endif %}
			</header>
			<span class="post-excerpt">
				{{ post.excerpt | strip_html }}
			</span>
		</a>
	</article>
</li>