<nav class="main-nav">
	<ul class="menu">
		<li>
			<a href="{{ site.baseurl }}/index.html">
				Home
			</a>
		</li>
		<li class="separator">
			<a href="{{ site.baseurl }}/about.html">
				About
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/reviews.html" class="category">
				Reviews
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/seminars.html" class="category">
				Seminars
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/learning.html" class="category">
				Learning
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/explorations.html" class="category">
				Explorations
			</a>
		</li>
	</ul>
</nav>