@import "http://fonts.googleapis.com/css?family=Merriweather+Sans|Cousine:400,700,400italic&subset=latin,latin-ext";
$body-copy-font: 'Cousine';
$link-color: #4545ce;

@import "compass";
@import "qb/all";

%discrete-link{
	color:inherit;
	text-decoration:none;
}

p{
	font-size:18px;
	line-height:1.35;
}
li{
	font-size:18px;
}
p a{
	color:$link-color;
	text-decoration:none;
	
	&:hover,
	&:focus{
		color:darken($link-color,10);
		text-decoration:underline;
	}
}

.wrapper{
	max-width:600px;
	margin:0 auto;
	padding: 40px 20px;
	position:relative;
	
	@include width-below(800px){
		max-width:400px;
	}
}

.main-nav{
	position:absolute;
	right:100%;
	text-align:right;
	padding-right:20px;
	font-family:'Merriweather Sans';
	font-size:20px;
	
	@include width-below(600px){
		position:static;
		text-align:left;
	}
}
.main-nav .menu{
	list-style:none;
}
.main-nav a{
	display:block;
	@extend %discrete-link;
	margin-bottom:10px;
}

.posts{
	list-style:none;
}
.posts .post{
	margin-bottom:50px;
}

.post-header{
	margin-bottom:15px;
}
.post-title{
	font-size:24px;
}
.post-title a{
	@extend %discrete-link;
}
.post-date{
	font-size:16px;
	color:lighten(#333,10);
}
.post-continue{
	display:block;
	margin-top:15px;
	font-size:18px;
	@extend %discrete-link;
	
	&:hover{
		color:$link-color;
		text-decoration:underline;
	}
}
.post-content p:first-child{
	&:first-letter{
		float:left;
		font-size:60px;
		position:relative;
		top:15px;
		margin-right:5px;
	}
}
.post-content p + p,
.post-content ul + p,
.post-content ol + p{
	margin-top: 1em;
}
.post-content ul,
.post-content ol{
	margin-top: .5em;
	margin-bottom: 1em;
	list-style-position:outside;
}
.post-content h1{
	margin-top:35px;
	margin-bottom: 7px;
	font-size:26px;
}