{% include head.html %}
{% include menu.html %}
<section class="content">
	<article class="post single">
		<header class="post-header">
            {% if page.cover == null %}
			<h1 class="post-title">
				{{ page.title }}
			</h1>
            {% endif %}
            <img src="{{ site.img }}{{ page.cover }}" alt="{{ page.title }}" class="post-cover" />
			<div class="post-meta">
				<svg class="icon">
				  <use xlink:href="#icon-clock"></use>
				</svg>
				{{ page.content | number_of_words | divided_by: 160 }} minute read
			</div>
			<div class="post-meta">
				<svg class="icon">
				  <use xlink:href="#icon-calendar"></use>
				</svg>
				{{ page.date | date: "%B %d, %Y" }}
			</div>
		</header>
		<div class="post-content">
			{{ content }}
		</div>
	</article>
</section>
{% include foot.html %}